Flask
Flask-WTF
opencv-python-headless
openai
pydub
markdown
torch
transformers
youtube_dl
google-auth
pytesseract
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
git+https://github.com/openai/whisper.git
validators